body
{
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #fff;
}

.cell {
  width: 100px;
  padding: 4px;
  margin: 0;
  height: 30px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px solid #cacaca;
  text-align: right;
  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
  overflow: hidden;
  font-family: Calibri, 'Segoe UI', Thonburi, Arial, Verdana, sans-serif;
}

.head {
  text-align: center;
  background-color: #fff;
  font-weight: bold;
}